<section class="w-full p-4">
      <mat-stepper [linear]="isLinear" #stepper>
        <!-- <mat-step label="Información Personal" [stepControl]="firstFormGroup" [editable]="isEditable">
          <form [formGroup]="firstFormGroup">
            <h3>Datos del Apoderado</h3>
            <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
              <mat-form-field>
                <mat-label>Tipo de Documento</mat-label>
                <mat-select (ngModelChange)="getDocumentOption()" name="option_document"
                  formControlName="documentOptionCtrl">
                  <mat-option *ngFor="let value of dataDocument" [value]="value.id">{{value.type_doc}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Documento</mat-label>
                <input autocomplete="off" onlyNumber matInput placeholder="Ingrese N° Documento" (change)="getDocument()"
                  name="document" formControlName="documentCtrl" [minlength]="sizeCharter" [maxlength]="sizeCharter"
                  name="document">
                @if (firstFormGroup.get('documentCtrl')?.hasError('required')) {
                <mat-error>Documento <strong>requerido</strong></mat-error>
                }
                @if (firstFormGroup.get('documentCtrl')?.hasError('minlength')){
                <mat-error>Documento erróneo</mat-error>
                }
              </mat-form-field>
              <mat-form-field [ngStyle]="{'display':styleBlockDocument}">
                <mat-label>Nombres</mat-label>
                <input autocomplete="off" matInput placeholder="Ingrese Nombres" formControlName="nameCtrl">
              </mat-form-field>
              <mat-form-field [ngStyle]="{'display':styleBlockDocument}">
                <mat-label>Apellidos</mat-label>
                <input autocomplete="off" matInput placeholder="Ingrese Apellidos" formControlName="lastNameCtrl">
              </mat-form-field>
              <mat-form-field class="col-span-2" [ngStyle]="{'display':styleBlockRuc}">
                <mat-label>Razón Social</mat-label>
                <input autocomplete="off" matInput placeholder="Ingrese Razon Social" formControlName="fullNameCtrl">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Correo electrónico</mat-label>
                <input autocomplete="off" type="email" [errorStateMatcher]="matcher" matInput placeholder="Ingrese Correo"
                  formControlName="emailCtrl">
                @if (firstFormGroup.get('emailCtrl')?.hasError('email') &&
                !firstFormGroup.get('emailCtrl')?.hasError('required')) {
                <mat-error>Porfavor revise el correo</mat-error>
                }
                @if (firstFormGroup.get('emailCtrl')?.hasError('required')) {
                <mat-error>Correo <strong>requerido</strong></mat-error>
                }
              </mat-form-field>
              <mat-form-field>
                <mat-label>Celular</mat-label>
                <span class="font-medium text-primary" matTextPrefix>+51 &nbsp;</span>
                <input autocomplete="off" type="tel" maxlength="9" matInput placeholder="Ingrese Celular" onlyNumber
                  formControlName="phoneCtrl">
              </mat-form-field>
            </div>
            <h3>Datos del Alumno</h3>
            <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
              <mat-form-field>
                <mat-label>Tipo de Documento</mat-label>
                <mat-select (ngModelChange)="getStudentDocumentOption()" name="option_student_document"
                  formControlName="studentDocumentOptionCtrl">
                  <mat-option *ngFor="let value of dataDocument" [value]="value.id">{{value.type_doc}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Documento</mat-label>
                <input autocomplete="off" onlyNumber matInput placeholder="Ingrese N° Documento" (change)="getStudentDocument()"
                  name="student_document" formControlName="studentDocumentCtrl" [minlength]="sizeCharterStudent" [maxlength]="sizeCharterStudent">
                @if (firstFormGroup.get('studentDocumentCtrl')?.hasError('required')) {
                <mat-error>Documento <strong>requerido</strong></mat-error>
                }
                @if (firstFormGroup.get('studentDocumentCtrl')?.hasError('minlength')){
                <mat-error>Documento erróneo</mat-error>
                }
              </mat-form-field>
              <mat-form-field>
                <mat-label>Nombres</mat-label>
                <input autocomplete="off" matInput placeholder="Ingrese Nombres" formControlName="studentNameCtrl">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Apellidos</mat-label>
                <input autocomplete="off" matInput placeholder="Ingrese Apellidos" formControlName="studentLastNameCtrl">
              </mat-form-field>
            </div>
            <div>
              <button mat-raised-button color="primary" (click)="setInformation()" matStepperNext
                [disabled]="firstFormGroup.invalid">Siguiente</button>
            </div>
          </form>
        </mat-step> -->
        <mat-step [stepControl]="secondFormGroup" label="Inscripción del Taller">
          <form [formGroup]="secondFormGroup">
            <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
              <mat-form-field class="col-span-4 sm:col-span-2">
                <mat-label>Talleres</mat-label>
                <input type="text" matInput formControlName="workshopCtrl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  @for (option of filteredOptions | async; track option) {
                    <mat-option [value]="option">{{option.name}}-cerrado</mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Recibo de Pago</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-stepper>
</section>
