<div [class]="size">
  <div class="cursor-pointer bg-primary hover:opacity-75 rounded-lg text-center p-4 h-full" (click)="goToPage(url)">
    <div class=" w-full relative mx-auto mb-4">
      <div class="relative pb-[150px]">
        <div>
          <img
            [src]="image"
            alt="module cover image"
            class="absolute w-fit h-full" />
        </div>
      </div>
    </div>
    <div class="truncate text-sm font-semibold text-white">{{ title }}</div>
  </div>  
</div>
  
