<div class="w-[200px]">
  <div class="bg-slate-300 rounded-lg p-4 h-full">
    <div class=" w-full relative mx-auto mb-4">
      <div class="relative pb-[150px]">
        <div>
          <img
            [src]="image"
            alt="module cover image"
            class="absolute w-fit h-full" />
        </div>
      </div>
    </div>
    <button (click)="goToPage(url)" class="cursor-pointer">
      <div class="truncate text-sm font-semibold text-white">{{ title }}</div>
      <div class="truncate text-xs text-white">{{ subtitle }}</div>
    </button>
  </div>  
</div>
  
