<div class="group relative isolate w-full bg-gray-900 rounded-md -md p-4 cursor-pointer">
  <div class="h-full">
    <div class="relative mb-4">
      <div class="relative pb-[150px]">
        <div>
          <img
            [src]="image"
            alt="module cover image"
            class="absolute left-0 top-0 h-full w-[150px]" />
        </div>
      </div>
    </div>
    <a>
      <div class="truncate text-sm font-semibold text-foreground">{{ title }}</div>
      <div class="truncate text-xs text-muted-foreground">{{ subtitle }}</div>
    </a>
  </div>
  
  </div>
  
