<section class="bg-blue-600">
  <div class="container mx-auto">
    <div class="h-auto shadow-xl p-4 flex flex-wrap justify-between items-center">
        <div class="uppercase text-white text-xl font-semibold">Pagos en linea</div>
        <div>
          <img width="70" src="./assets/icons/logo.png" alt="">
        </div>
    </div>
  </div>
</section>
<section class="container mx-auto py-4">
  <div class="flex flex-col md:flex-row gap-4">
    <div class="">
      <div class="grid grid-cols-3 gap-4 mx-auto w-full md:w-[400px]">
        <div routerLink="" [ngClass]="active">
          <div  class="bg-blue-600 p-2 text-center text-white font-semibold rounded-lg cursor-pointer hover:bg-blue-400 h-[150px]">
              <img
            [src]="iconoHome"
            alt="module cover image"
            class="w-20 mx-auto" />
            <p class="text-xs sm:text-base h-4 sm:h-auto">Inicio</p>
          </div>
        </div>
        <div *ngFor="let module of modules" class="bg-blue-600 p-2 text-center text-white font-semibold rounded-lg cursor-pointer hover:bg-blue-400 h-[150px]" routerLink="{{module.link}}" routerLinkActive="active">
            <app-card-module [url]="module.slug" [title]="module.name" [subtitle]="module.slug"  [image]="'assets/'+module.url"/>
        </div>
      </div>
    </div>
    <div class="">
      @if(!esRutaRaiz){
        <router-outlet></router-outlet>
      }@else{
          <h2 class="text-lg md:text-2xl uppercase pb-10 font-medium text-gray-600">¡Bienvenido al Sistema de Tasas en Línea de la Municipalidad de Magdalena del Mar!</h2>
          <p class="text-justify text-gray-500">Estamos encantados de darte la bienvenida a nuestra plataforma segura y eficiente que te permitirá realizar tus transacciones de manera rápida y cómoda. Nuestro sistema ha sido diseñado pensando en facilitar tu experiencia, brindándote acceso a diversos servicios municipales con tan solo unos clics.
            <br>
            Descubre la comodidad de realizar tus pagos de Tributos Municipales de manera sencilla, evitando largas filas y trámites engorrosos. Con nuestro módulo de Tramites y Servicios, podrás gestionar tus trámites municipales de manera ágil, todo desde la comodidad de tu hogar.
            <br>
            Olvida las preocupaciones por multas y gestiona tus pagos de manera oportuna con nuestro módulo dedicado a Multas. Además, si eres amante del deporte, podrás reservar Campos Deportivos con facilidad, permitiéndote disfrutar de tus actividades físicas favoritas.
            <br>
            Para aquellos que buscan actividades recreativas, el módulo de Vacaciones Útiles te ofrece la posibilidad de explorar y participar en programas diseñados para el entretenimiento y el aprendizaje durante tus períodos de descanso.
            <br>
            Nuestro compromiso es brindarte un servicio de calidad, transparente y accesible las 24 horas del día, los 7 días de la semana. Estamos aquí para simplificar tus transacciones y mejorar tu experiencia con la Municipalidad de Magdalena del Mar.
            <br>
            ¡Gracias por elegirnos! Estamos seguros de que nuestro Sistema de Pagos en Línea hará que tu interacción con la entidad municipal sea más fácil y eficiente que nunca. ¡Bienvenido a una nueva era de comodidad y accesibilidad!</p>
      }
    </div>
  </div>
    
</section>
<app-footer></app-footer>

