<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
    <!-- Módulos -->
    <div class="row mt-8">
      <h3 class="text-sm font-semibold uppercase text-foreground">Módulos</h3>
      <p> Nuestro sistema de gestión de tasas en línea es una solución avanzada y versátil diseñada para optimizar y simplificar el procesamiento de pagos electrónicos para empresas y personas. Este sistema integra múltiples funcionalidades que permiten una administración eficiente y segura de las transacciones financieras, brindando tanto a comerciantes como a clientes una experiencia fluida y confiable.</p>
    </div>
  </div>
  