<div class="container my-4 mx-auto">
    <table  class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Código</th>
                <th>Área</th>
                <th>Nombres y Apellidos</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (usersList) {
                @for (item of usersList; track item) {
                    <tr>
                        <td>{{item.user}}</td>
                        <td>{{item.code}}</td>
                        <td>{{item.area}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>  
                            <button class="btn bg-teal-200 " (click)="update()">Action 1</button>
                        </td>
                    </tr>
                    }
            }
        </tbody>
    </table>
</div>

