<div class="bg-transparent relative my-8">
    <div [ngClass]="{'opacity-0 transition-opacity duration-500 ease-in-out': !preloader}" class="absolute w-full h-[250px] flex justify-center items-center"><mat-spinner class="mx-auto" [diameter]="40"></mat-spinner></div>
    <div [ngClass]="{'hidden': preloader}" class="container mx-auto">
        <table class="py-6" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead class="">
                <tr class="text-primary">
                    <th>Usuario</th>
                    <th>Código</th>
                    <th>Área</th>
                    <th>Nombres y Apellidos</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (usersList) {
                    @for (item of usersList; track item) {
                        @if(item.id !== user){
                            <tr class="text-muted-foreground">
                                <td>{{item.user}}</td>
                                <td>{{item.code}}</td>
                                <td>{{item.area}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.email}}</td>
                                <td>
                                    <div class="w-[50px] flex justify-between items-center">
                                        <button class="" (click)="update(item.id)">
                                            <img width="20" [src]="iconoPencil" alt="" srcset="">
                                        </button>
                                        <button class="" (click)="delete(item.id)">
                                            <img width="20" [src]="iconoTrash" alt="" srcset="">
                                        </button>
                                    </div> 
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

