<div>
    <div class="relative">
       <div [ngClass]="{'opacity-0 transition-opacity duration-500 ease-in-out': !preloader}" class="absolute w-full h-[500px] flex justify-center items-center"><mat-spinner class="mx-auto" [diameter]="40"></mat-spinner></div>
       <div [ngClass]="{'hidden': preloader}" class="relative container bg-transparent py-4 my-4 mx-auto h-full">
        <div class="my-4">
            <h3>Configuración de Campos Deportivos</h3>
        </div>
           @if(data){
           <table class="py-6" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
               <thead>
               <tr class="text-primary">
                   <th>Categoría</th>
                   <th>Tipo de Reserva</th>
                   <th>Campo</th>
                   <th>Turno</th>
                   <th>Precio</th>
               </tr>
               </thead>
               <tbody>
               @for(item of data; track item){
                   <tr class="text-muted-foreground uppercase">
                       <td>{{item.category}}</td>
                       <td>{{item.reservation}}</td>
                       <td>{{item.field}}</td>
                       <td>{{item.shift}}</td>
                       <td>S/.{{item.price}}.00</td>
                       <div>    
                            <button class="" (click)="update(item.id)">
                        <img width="20" [src]="iconoPencil" alt="" srcset="">
                    </button></div>
                   </tr>
               }
               </tbody>
               <tfoot>
                <tr>
                  <th><input class="filter-column-datatable" id="0" type="text" placeholder="Categoría" name="categoria"/></th>
                  <th><input class="filter-column-datatable" id="1" type="text" placeholder="Tipo de Reserva" name="reserva"/></th>
                  <th><input class="filter-column-datatable" id="2" type="text" placeholder="Campo" name="campo"/></th>
                  <th><input class="filter-column-datatable" id="3" type="text" placeholder="Turno" name="turno"/></th>
                  <th><input class="filter-column-datatable" id="4" type="text" placeholder="Precio" name="precio"/></th>
                </tr>
            </tfoot>
           </table>
           }
       </div>
    </div>
</div>
