<div class="flex h-screen w-screen">
  <div class="auth-bg hidden flex-1 items-center justify-center bg-primary bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <img src="./assets/images/auth-screens.png" alt="dashboard widget" />
      <h1 class="text-4xl font-bold">"Sistema de Tasas Online"</h1>
      <p class="text-xs font-light">
        Nuestro sistema de gestión de tasas en línea es una solución avanzada y versátil diseñada para optimizar y simplificar el procesamiento de pagos electrónicos para empresas y personas. Este sistema integra múltiples funcionalidades que permiten una administración eficiente y segura de las transacciones financieras, brindando tanto a comerciantes como a clientes una experiencia fluida y confiable.
      </p>
    </div>
  </div>
  <div class="flex flex-1 items-center justify-center bg-background">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- logo -->
      <div class="flex items-center justify-center">
        <a class="">
          <!-- <svg-icon src="assets/icons/logo.png" [svgClass]="'h-5 w-5'"> </svg-icon> -->
          <img width="100" src="./assets/icons/logo.png" alt="">
        </a>
      </div>
      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
