@if(authenticate){
    <section class="w-full md:container mx-auto my-4">
      <h2 class="font-bold text-gray-500 uppercase">Reserva de Campos Deportivos</h2>
          <mat-stepper [linear]="isLinear" #stepper>
            <!-- <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Información Personal</ng-template>
                <div class="mt-4 grid grid-cols-4 gap-4">
                  <mat-form-field>
                    <mat-label>Tipo de Documento</mat-label>
                    <mat-select (ngModelChange)="getDocumentOption()" name="option_document" formControlName="documentOptionCtrl">
                      <mat-option *ngFor="let value of dataDocument" [value]="value.id">{{value.type_doc}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Documento</mat-label>
                    <input onlyNumber matInput placeholder="Ingrese N° Documento" (change)="getDocument()" name="document" formControlName="documentCtrl" [minlength]="sizeCharter" [maxlength]="sizeCharter" name="document">
                    @if (firstFormGroup.get('documentCtrl')?.hasError('required')) {
                      <mat-error>Documento <strong>requerido</strong></mat-error>
                    }
                    @if (firstFormGroup.get('documentCtrl')?.hasError('minlength')){
                      <mat-error>Documento erróneo</mat-error>
                    }
                  </mat-form-field>
                   <mat-form-field [ngStyle]="{'display':styleBlockDocument}">
                    <mat-label>Nombres</mat-label>
                    <input matInput placeholder="Ingrese Nombres" formControlName="nameCtrl">
                  </mat-form-field>
                  <mat-form-field [ngStyle]="{'display':styleBlockDocument}">
                    <mat-label>Apellidos</mat-label>
                    <input matInput placeholder="Ingrese Apellidos" formControlName="lastNameCtrl">
                  </mat-form-field> 
                  <mat-form-field class="col-span-2" [ngStyle]="{'display':styleBlockRuc}">
                    <mat-label>Nombres y Apellidos</mat-label>
                    <input matInput placeholder="Ingrese Nombres y Apellidos" formControlName="fullNameCtrl">
                  </mat-form-field> 
                  <mat-form-field>
                    <mat-label>Correo electrónico</mat-label>
                    <input type="email" [errorStateMatcher]="matcher" matInput placeholder="Ingrese Correo" formControlName="emailCtrl" >
                    @if (firstFormGroup.get('emailCtrl')?.hasError('email')  && !firstFormGroup.get('emailCtrl')?.hasError('required')) {
                      <mat-error>Porfavor revise el correo</mat-error>
                    }
                    @if (firstFormGroup.get('emailCtrl')?.hasError('required')) {
                      <mat-error>Correo <strong>requerido</strong></mat-error>
                    }
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Celular</mat-label>
                    <span matTextPrefix>+51 &nbsp;</span>
                    <input type="tel" maxlength="9" matInput placeholder="Ingrese Celular" onlyNumber formControlName="phoneCtrl">
                  </mat-form-field>
                </div>
                <div>
                  <button mat-button (click)="setPerson()" matStepperNext [disabled]="firstFormGroup.invalid">Siguiente</button>
                </div>
              </form>
            </mat-step> -->
            <mat-step [stepControl]="secondFormGroup" label="Campos Deportivos">
              <form [formGroup]="secondFormGroup">
                <div class="mt-4 grid grid-cols-4 gap-4">
                  <mat-form-field>
                  <mat-label>Categorias</mat-label>
                  <mat-select (ngModelChange)="getCategory()" name="category" formControlName="categoryCtrl">
                    <mat-option *ngFor="let value of dataCategory" [value]="value.id">{{value.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Campos</mat-label>
                  <mat-select (ngModelChange)="getField()" name="field" formControlName="fieldCtrl">
                    <mat-option *ngFor="let value of dataField" [value]="value.id">{{value.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Tipo de Reserva</mat-label>
                  <mat-select (ngModelChange)="getTypeReservation()" name="type_reservation" formControlName="typeReservationCtrl">
                    <mat-option *ngFor="let value of dataTypeReservation" [value]="value.id">{{value.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Turno</mat-label>
                  <mat-select (ngModelChange)="getShift()" name="shift" formControlName="shiftCtrl">
                    <mat-option *ngFor="let value of dataShift" [value]="value.id">{{value.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Fecha de Reserva</mat-label>
                  <input (ngModelChange)="getDateReservation()"  formControlName="dateCtrl" matInput [matDatepickerFilter]="myFilter" [min]="currentDate" [max]="nextDate"[matDatepicker]="picker">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Horarios Disponibles</mat-label>
                  <mat-select (ngModelChange)="getSchedule()" name="schedule" multiple formControlName="scheduleCtrl">
                    <mat-select-trigger>
                      {{1 || ''}}
                        @if((secondFormGroup.get('scheduleCtrl')?.value?.length || 0)>1){
                          <span>
                          (+{{(secondFormGroup.get('scheduleCtrl')?.value?.length || 0) - 1}} {{secondFormGroup.get('scheduleCtrl')?.value?.length === 2 ? 'horario' : 'horarios'}})
                          </span>
                        }
                      </mat-select-trigger>
                      @if(dataSchedule && dataSchedule.length>0){
                        <ng-container>
                          <mat-option *ngFor="let value of dataSchedule" [value]="value.id">{{formatHour(value.hour_start)}}-{{formatHour(value.hour_end)}}</mat-option>
                        </ng-container>
                      }
                  </mat-select>
                  @if(dataSchedule.length >0 ){
                    Tus horaios: <em>{{selectSchedule}}</em>
                  }
                  
                </mat-form-field>
                </div>
                <div>
                    <input type="text" disabled [value]="'S/'+price" name="price">
                </div>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Recibo de Pago</ng-template>
              <p>You are now done.</p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-stepper>
    </section>
    
      

}@else{
  <p>CAMPOS DEPORTIVOS</p>
}
