<section class="w-full p-4">
  <h2 class="font-bold text-gray-600 text-center uppercase">Reserva de Campos Deportivos</h2>
  <mat-stepper [selectedIndex]="stepp" [linear]="isLinear" #stepper>
    <mat-step label="Información Personal" [stepControl]="firstFormGroup" [editable]="isEditable">
      <app-informacion-persona (formDataEmitter)="receiveFormData($event)"></app-informacion-persona>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Campos Deportivos" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
        <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
          <mat-form-field class="col-span-4 sm:col-span-1">
            <mat-label>Categorias</mat-label>
            <mat-select (ngModelChange)="getCategory()" name="category" formControlName="categoryCtrl">
              <mat-option *ngFor="let value of dataCategory" [value]="value.id">{{value.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-span-4 sm:col-span-1">
            <mat-label>Tipo de Reserva</mat-label>
            <mat-select (ngModelChange)="getTypeReservation()" name="type_reservation"
              formControlName="typeReservationCtrl">
              <mat-option *ngFor="let value of dataTypeReservation" [value]="value.id">{{value.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-span-4 sm:col-span-1">
            <mat-label>Campos</mat-label>
            <mat-select style="background-color: transparent;" [multiple]="authenticate" (ngModelChange)="getShift()" name="field"
              formControlName="fieldCtrl">
              <mat-option *ngFor="let value of dataField" [value]="value.id">{{value.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-span-4 sm:col-span-1">
            <mat-label>Turno</mat-label>
            <mat-select  name="shift" formControlName="shiftCtrl" (ngModelChange)="getDateReservation()">
              <mat-option *ngFor="let value of dataShift" [value]="value.id">{{value.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-span-4 sm:col-span-2">
            <mat-label>Fecha de Reserva</mat-label>
            <input autocomplete="off" formControlName="dateCtrl" matInput (ngModelChange)="getSchedules()"
              [matDatepickerFilter]="myFilter" [min]="currentDate" [max]="nextDate" [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="col-span-4 sm:col-span-2">
            <mat-label>{{textScheduleLabel}}</mat-label>
            <mat-select class="bg-transparent" name="schedule" multiple
              formControlName="scheduleCtrl" (ngModelChange)="getTotal()">
              <mat-select-trigger>
                {{1 || ''}}
                @if((secondFormGroup.get('scheduleCtrl')?.value?.length || 0)>1){
                <span>
                  (+{{(secondFormGroup.get('scheduleCtrl')?.value?.length || 0) - 1}}
                  {{secondFormGroup.get('scheduleCtrl')?.value?.length === 2 ? 'horario' : 'horarios'}})
                </span>
                }
              </mat-select-trigger>
              @if(dataSchedule && dataSchedule.length>0){
              <ng-container>
                <mat-option *ngFor="let value of dataSchedule" [value]="value.id">
                  {{formatHour(value.hour_start)}}-{{formatHour(value.hour_end)}}</mat-option>
              </ng-container>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
          @if(authenticate){
          <mat-form-field class="col-span-4 sm:col-span-1">
            <mat-label>Tipo de Pago</mat-label>
            <mat-select class="bg-transparent" (ngModelChange)="getTypePayments()"  name="typePayment"
              formControlName="typePaymentCtrl">
              <mat-option *ngFor="let value of dataTypePayments" [value]="value.id">{{value.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-span-4 sm:col-span-1" [ngStyle]="{'display':styleBlockOption}">
            <mat-label>Opciones</mat-label>
            <mat-select class="bg-transparent" name="optionPayment" formControlName="optionPaymentCtrl">
              <mat-option *ngFor="let value of dataOptionPayments" [value]="value.id">{{value.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-span-4 sm:col-span-2">
            <mat-label>Observación</mat-label>
            <input autocomplete="off" matInput placeholder="Ingrese Observación" formControlName="observationPaymentCtrl">
          </mat-form-field>
          }
          <div class="col-span-4">
            <mat-form-field floatLabel="always">
              <mat-label>Importe a Pagar</mat-label>
              <input autocomplete="off" matInput type="number" [value]="totalPrice" disabled
                class="example-right-align font-semibold" placeholder="0">
              <span class="font-medium text-primary" matTextPrefix>S/.&nbsp;</span>
              <span class="font-medium text-primary" matTextSuffix>.00</span>
            </mat-form-field>
          </div>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="save()" 
            [disabled]="secondFormGroup.invalid">Reservar</button>
        </div>
      </form>
    </mat-step>
    <mat-step label="Recibo de Pago">
      @if(dataPayment.length>0){
      <div class="w-fit mx-auto">
          <img mat-raised-button #tooltip="matTooltip"
          matTooltip="Descargar"
          [matTooltipPosition]="positionOption"
          matTooltipHideDelay="100000"
          src="./assets/icons/descargar.png" title="Descargar" alt="descargar" class="cursor-pointer mx-auto w-8" />
      </div>
      <div class="my-5 flex h-auto items-start justify-center">
        <div class="w-[350px] rounded border bg-gray-50 p-4 shadow-lg">
          <img src="./assets/icons/logo.png" alt="logo-magdalena" class="mx-auto w-16 pb-4" />
          <div class="flex flex-col justify-center items-center gap-2">
            <p class="font-semibold text-center text-sm">Municipalidad de Magdalena del Mar
              <br>
              Oficina de Tesorería
            </p>
            <p class="text-sm">RUC 20131376848</p>
          </div>
          <div class="flex flex-col gap-3 py-6 text-xs">
            <div class="flex flex-col uppercase">
              @if(codeId !==0){
              <div class="flex justify-between">
                <span class="font-semibold">Operación:</span>
                <span>{{this.dataPayment[0].nro_operation }}</span>
              </div>
              
              <div class="flex justify-between">
                <span class="font-semibold">Recibo:</span>
                <span></span>
              </div>
              }
              <div class="flex justify-between">
                <span class="font-semibold">Código:</span>
                <span>{{this.dataPayment[0].nro_document}}-{{this.dataPayment[0].payment_id}}</span>
              </div>
              <div class="flex justify-between">
                <span class="font-semibold">Nombre:</span>
                <span class="">{{ this.dataPayment[0].people_name }} {{ this.dataPayment[0].people_lastName }}</span>
              </div>
              <div class="flex justify-between">
                <span class="font-semibold">Generado:</span>
                <span>{{ this.dataPayment[0].user ?this.dataPayment[0].user:'ONLINE' }} - {{ this.dataPayment[0].created_at }}</span>
              </div>
              <div class="flex justify-between">
                <span class="font-semibold">Método de Pago:</span>
                <span>{{ this.dataPayment[0].type_payment}}</span>
              </div>
            </div>
          </div>
          <table class="w-full">
              <thead>
                <th class="text-left text-sm">Decripción</th>
                <th class="text-right text-sm">Monto</th>
              </thead>
              <tbody>
                <tr class="border-black	border-y" *ngFor="let voucher of dataPayment">
                  <td class="text-left text-xs">
                    <span>
                      {{voucher.category}} - {{voucher.type_reservation}}<br>
                      {{voucher.field_name}}-{{voucher.campus}}<br>
                      {{formatHour(voucher.hour_start)}} a {{formatHour(voucher.hour_end)}}<br>
                      {{voucher.date_reservation}}
                    </span>
                  </td>
                  <td class="text-right text-xs"><span>S./{{voucher.price_reservation}}.00</span></td>
                </tr>
                <tr>
                  <td class="text-left uppercase font-semibold"><span>Total</span></td>
                  <td class="text-right text-xs"><span>S./{{totalPrice}}.00</span></td>
                </tr>
                @if(this.dataPayment[0].observation){
                  <td class="text-left uppercase font-semibold"><span>Observacion</span></td>
                  <td class="text-right uppercase text-xs"><span>{{this.dataPayment[0].observation}}</span></td>
                }
                <tr>
                  <td align="center" class="text-xs italic" colspan="2">
                    <p>Consideraciones:</p>
                    <span>
                      El usuario es responsable de la fecha y horario separado.</span>
                    <span>
                      El usuario deberá estar 10 minutos antes de la hora separada.</span>
                    <span>
                      El usuario deberá dejar las instalaciones limpias y en las mismas condiciones en las que fueron
                      entregadas.</span>
                    <span>
                      No habrá lugar a cambios.</span>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
      }
      <div>
        <button mat-button (click)="reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</section>
